/* OnlineStatusBox.module.css */

.onlineStatus {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 128, 0, 0.5); /* 50% opacity */
  color: #ffffff; /* Fully opaque white text */
  padding: 5px 10px; /* Top/Bottom padding 5, Left/Right padding 10 */
  z-index: 1;
  border-radius: 15px; /* Rounded corners */
  font-size: 14px; /* Adjust font size as needed */
}
